<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'template/header.html' %}
  </head>
  <body>
    {% include 'template/navbar.html' %}
    {% block content %}{% endblock %}
  </body>
  <footer style="background-color: black">
    {% include 'template/footer.html' %}
  </footer>
</html>
