<div class="col-md">
    <div class="dropdown">
      <button class="dropbtn"><p>Menu</p></button>
      <div class="dropdown-content">
        <a href="#first-section"><p>Index</p></a>
        <a href="#second-section"><p>My Goals</p></a>
        <a href="#third-section"><p>My Profile</p></a>
        <a href="#fourth-section"><p>My Education</p></a>
        <a href="#fifth-section"><p>Contact Me</p></a>
      </div>
    </div>
</div>
