html {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

@font-face {
    font-family: CubeSixel;
    src: url("../fonts/CubeSixel.woff") format("woff");
}

body::-webkit-scrollbar {
    background-color:#fff;width:16px
}

body::-webkit-scrollbar-track {
    background-color:#fff
}

body::-webkit-scrollbar-thumb {
    background-color:#babac0;border-radius:16px;border:4px solid #fff
}

p {
  text-align: center;
  font-family: 'CubeSixel', serif;
  color: white;
  font-size: 200%;
}

.dropbtn {
  background-color: #476acc;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: fixed;
  display: inline-block;
  z-index: 9999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2d478e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7694e8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.first-section {
  background-image: url("../images/Page_1_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.second-section {
  background-image: url("../images/Page_2_Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.third-section {
  background-image: url("../images/Page_3_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.fourth-section {
  background-image: url("../images/Page_4_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.fifth-section {
  background-image: url("../images/Page_5_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.sixth-section{
  background-image: url("../images/Page_6_Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vw;
}

adjacent-text {
  display: inline-block;
  float: left;
}

.center {
  display: block;
  transition: transform .2s;
  margin-left: auto;
  margin-right: auto;
  width: 15vw;
}

.center:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.arrowbuttonup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
  max-width:5vw;
  height:auto;
  transform: rotate(270deg);
}

.arrowbuttondown {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
  max-width:5vw;
  height:auto;
  transform: rotate(90deg);
}

.reg-body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
.reg-a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
