<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    {% include 'template/header.html' %}
    {% block content %}
  </head>
  <body class="sixth-section reg-body">
    <a href="index"><p style="padding-left: 1em; padding-top: 0.5em; text-align: left">Back</p></a>
    <form action="/action_page.php">
      <div class="container">
        <h1 style="font-family: CubeSixel">Register</h1>
        <p style="color: black">Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b style="font-family: CubeSixel">Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="email"><b style="font-family: CubeSixel">Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="psw"><b style="font-family: CubeSixel">Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <label for="psw-repeat"><b style="font-family: CubeSixel">Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        <hr>
        <p style="color: black">By creating an account you agree to our <a class="reg-a" href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn"><p>Register</p></button>
      </div>
      <div class="container signin">
        <p style="color: black">Already have an account? <a class="reg-a" href="#">Sign in</a>.</p>
      </div>
    </form>
  </body>
</html>
{% endblock %}
