<!DOCTYPE html>

{% extends 'template/base.html' %}
{% block content %}

<html lang="en" dir="ltr">

  <head>
  </head>

  <body>
    <section class="first-section" id="first-section">
      <div class="row">
        <div class="col-md">
          <a href="form">
            <p style="padding-right: 1em; padding-top: 0.5em; text-align: right">Sign Up</p>
          </a>
        </div>

      </div>

      <div class="row">
        <div class="col-md">
          <p>Hello There!</p>
          <p>I'm Dzikra and this is my profile</p>
          <img class="center" src="../static/images/My_Photo.png" alt="MyPhoto">
          <p>Scroll down to see more!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <a href="#second-section">
            <img class="arrowbuttondown" src="../static/images/Arrow.png" alt="Button">
          </a>
        </div>
      </div>

    </section>

    <section class="second-section" id="second-section">

      <div class="">
        <a href="#first-section">
          <img class="arrowbuttonup" src="../static/images/Arrow.png" alt="Button">
        </a>
        <p>Game Developer</p>
        <p>Striving to make huge leaps in game development and develop technologies to bring the future to the present</p>
        <a href="#third-section">
          <img class="arrowbuttondown" src="../static/images/Arrow.png" alt="Button">
        </a>
      </div>

    </section>

    <section class="third-section" id="third-section">
      <div class="">
        <a href="#second-section">
          <img class="arrowbuttonup" src="../static/images/Arrow.png" alt="Button">
        </a>
        <p>My Profile</p>
        <div class="row">
          <div class="col-md">
            <p>Birth date:</p>
            <p>August 17, 2000</p>
            <p>Blood type:</p>
            <p>AB+</p>
          </div>
          <div class="col-md">
            <p>Fullname:
            <p>Muhammad Dzikra Muzaki</p>
            <p>Address:</p>
            <p>Permata Puri 1, Jl. Delima Raya, Blok E3/2, Cimanggis, Depok, 16953</p>
          </div>
          <div class="col-md">
            <p>Interests:</p>
            <p>Books, Games, Badminton</p>
          </div>
        </div>
        <a href="#fourth-section">
          <img class="arrowbuttondown" src="../static/images/Arrow.png" alt="Button">
        </a>
      </div>

    </section>

    <section class="fourth-section" id="fourth-section">
      <div>
        <a href="#third-section">
          <img class="arrowbuttonup" src="../static/images/Arrow.png" alt="Button">
        </a>
      </div>
      <p style="color: gray">Education</p>
      <div class="row">
        <div class="col-md">
          <p style="color: gray">SMAN 2 Depok</p>
          <p style="color: gray">2015-2018</p>
          <p style="color: gray">Acquired high school degree from a national public school</p>
        </div>
        <div class="col-md">
          <p style="color: gray">Universitas Indonesia</p>
          <p style="color: gray">2018-present</p>
          <p style="color: gray">Currently undergoing bachelor's degree in faculty of computer science</p>
        </div>
      </div>
      <div>
        <a href="#fifth-section">
          <img class="arrowbuttondown" src="../static/images/Arrow.png" alt="Button">
        </a>
      </div>
    </section>

    <section class="fifth-section" id="fifth-section">
      <div>
        <a href="#fourth-section">
          <img class="arrowbuttonup" src="../static/images/Arrow.png" alt="Button">
        </a>
      </div>
      <div class="row">
        <div class="col-md">
          <img class="center" src="../static/images/Phone_Logo.png" alt="">
          <p style="color: black">+62 812-8014-3590</p>
        </div>
        <div class="col-md">
          <img class="center" src="../static/images/Email_Logo.png" alt="">
          <p style="color: black">mdzkm17@gmail.com</p>
        </div>
        <div class="col-md">
          <a href="https://github.com/MDzkM">
            <img class="center" src="../static/images/Github_Logo.png" alt="">
          </a>
          <p style="color: black">MDzkM</p>
        </div>
        <div class="col-md">
          <a href="https://www.linkedin.com/in/mdzkm/">
            <img class="center" src="../static/images/LinkedIn_Logo.png" alt="">
          </a>
          <p style="color: black">Dzikra Muzaki</p>
        </div>
      </div>
    </section>

  </body>
</html>
{% endblock %}
